html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    cursor: pointer;
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #60242c;
}

#shopping-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px ;
    margin-top: 20px;
    padding: 5px 1px;
    overflow: auto;
    max-height: 300px;
}

#shopping-list li {
    font-size: 18px;
    flex-grow: 1;
    padding: 10px 13px;
    text-align: center;
    color: #75481f;
    background-color: #ffffffc7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
}

#shopping-list li:hover {
    background-color: #FFECC7;
}
